@{
    ViewBag.Title = "注册";
}
<script src="@Url.Content("~/Scripts/reg-valid.js")" type="text/javascript"></script>
<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/log.css")" />


<div class="log">
	<div id="log-left">
		<img src="/Content/Image/star2.jpg" alt="快注册吧">
	</div>
	<div id="log-right">
        <form name="form" action="" method="post">
        <fieldset>
            <legend>在此注册吧~</legend>
            <table>
            <tr>
            <td><label>用户名：</label></td><td><input name="username" type="text" placeholder="请在此输入用户名" /></td>
            </tr>
            <tr>
              <td><label>密&nbsp;&nbsp;码：</label></td><td><input name="password" type="password" placeholder="请在此输入密码"/></td>
            </tr>
            <tr>
              <td><label>确认密码：</label></td><td><input name="password2" type="password" placeholder="请再次输入密码"/></td>
            </tr>
            <tr>
              <td><label>常用邮箱：</label></td><td><input name="email" type="email" placeholder="请在此输入您的常用邮箱"/></td>
            </tr>
            <tr>
              <td><label>武汉常用地址 </label></td><td><select name="address"><option value="洪山区">洪山区</option><option value="黄陂区">黄陂区</option><option value="青山区">青山区</option><option value="新洲区">新洲区</option><option value="江岸区">江岸区</option><option value="江汉区">江汉区</option><option value="东西湖区">东西湖区</option><option value="蔡甸区">蔡甸区</option><option value="硚口区">硚口区</option><option value="武昌区">武昌区</option><option value="汉南区">汉南区</option><option value="江夏区">江夏区</option><option value="汉阳区">汉阳区</option></select></td>
            </tr>
            <tr><td>我要订阅电影资讯</td><td><input name="Subscribe" type="checkbox" value="true" checked /></td></tr>
            <tr>
            <td><input name="reg" type="submit" value="注册" /></td><span id="tip"></span>
            </tr>
            </table>
            @{
                if ( ViewData["isSuccess"] != null && (int)ViewData["isSuccess"] == 1 )
                {
                    <script type="text/javascript">
                        alert("注册成功！");
                        window.location.href = "/Account/Login";
                    </script> 
                                      
                }
            }
        </fieldset>
        </form>
      </div>
</div>
		    
           