@{
    ViewBag.Title = "电影院";
}

<link href="@Url.Content("~/Content/cinema.css")" rel="stylesheet" type="text/css" />


	<!--页面主体内容-->
	<div class="contain">
    <div class="left">
      <div id="accordion" class="accordion">
		<a href="#hs">洪山区</a>
        <div id="hs"><p>
            <a href="/Cinema/detail?id=1789">武汉金逸国际影城（销品茂店）</a>
            <a href="/Cinema/detail?id=1821">武汉中影天河国际影城</a>
            <a href="/Cinema/detail?id=2485">洪山天河国际影城</a>
            <a href="/Cinema/detail?id=2457">武汉正华影城</a>
            <a href="/Cinema/detail?id=2828">武汉金逸国际影城（南湖店）</a>    <!--武昌区-->
            <a href="/Cinema/detail?id=3229">华谊兄弟影院武汉光谷店（销品茂店）</a>
        </p> </div>
        <a href="#hp">黄陂区</a>
        <div id="hp"><p> 
            <a href="/Cinema/detail?id=2752">华谊兄弟武汉黄陂影城</a>
         </p> </div>
        <a href="#qs">青山区</a>
        <div id="qs"><p> 
            <a href="/Cinema/detail?id=2630">青山天河国际电影城</a>
        </p> </div>
        <a href="#xz">新洲区</a>
        <div id="xz"><p> 
            <a href="/Cinema/detail?id=1892">新洲横店影城</a>
        </p> </div>
        <a href="#ja">江岸区</a>
        <div id="ja"><p> 
            <a href="/Cinema/detail?id=2372">武汉CGV星星影城</a>
            <a href="/Cinema/detail?id=1242">中影国际影城武汉东购店</a>
            <a href="/Cinema/detail?id=1567">武汉影城</a>
            <a href="/Cinema/detail?id=1304">天汇影城</a>
            <a href="/Cinema/detail?id=3107">武汉天河国际影城后湖百步亭店</a>
            <a href="/Cinema/detail?id=1302">湖北鑫乐银兴电影城</a>
        </p> </div>
        <a href="#jh">江汉区</a>
        <div id="jh"><p>
            <a href="/Cinema/detail?id=1300">武汉环银电影城</a>
            <a href="/Cinema/detail?id=1306">武汉万达影城（江汉路店）</a>
            <a href="/Cinema/detail?id=2867">武商摩尔国际电影城</a>
            <a href="/Cinema/detail?id=1301">武汉环艺新民众电影城</a>
            <a href="/Cinema/detail?id=2617">武汉万达影城（菱角湖店）</a>
            <a href="/Cinema/detail?id=2978">湖北银兴乐天影城</a>
            <a href="/Cinema/detail?id=2275">武汉横店影视电影城</a>
            <a href="/Cinema/detail?id=2332">大地数字影院-武汉汉口沿江一号</a>
        </p> </div>
		<a href="#qk">硚口区</a>
        <div id="qk"><p>
            <a href="/Cinema/detail?id=2970">武汉宝丰影城</a>
        </p> </div>
        <a href="#wc">武昌区</a>
        <div id="wc"><p>
            <a href="/Cinema/detail?id=2059">洪山礼堂银兴影城</a>
            <a href="/Cinema/detail?id=1532">江汉环球电影城</a>
            <a href="/Cinema/detail?id=1303">亚贸兴汇</a>
            <a href="/Cinema/detail?id=2778">武汉万达影城（春树里店）</a>
            <a href="/Cinema/detail?id=1533">湖北剧院银兴电影城</a>
            <a href="/Cinema/detail?id=1307">湖北银兴艺术影城</a>
            <a href="/Cinema/detail?id=1850">大地数字影院-武汉五环峰商业广场</a>
            <a href="/Cinema/detail?id=3431">武昌横店影城</a>
        </p> </div>
        <a href="#jx">江夏区</a>
        <div id="jx"><p>
            <a href="/Cinema/detail?id=3282">银兴乐天影城江夏店</a>
        </p> </div>
        <a href="#hy">汉阳区</a>
        <div id="hy"><p>
            <a href="/Cinema/detail?id=2658">武汉金逸国际影城（王家湾店）</a>
            <a href="/Cinema/detail?id=2779">武汉万达影城（汉商店）</a>
            <a href="/Cinema/detail?id=1566">武汉天河国际影城</a>
        </p> </div>
        <a href="#jj">经济技术开发区</a>
        <div id="jj"><p>
            <a href="/Cinema/detail?id=2781">武汉万达影城（经开店）</a>
            <a href="/Cinema/detail?id=1871">大地数字影院-武汉湘隆时代广场</a>
        </p> </div>
      </div>
	</div>
	  
	  <!--右侧地图部分-->
	  <div class="map"> 
	  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?source=s_q&amp;hl=zh-cn&amp;geocode=&amp;q=%E7%94%B5%E5%BD%B1%E9%99%A2&amp;aq=&amp;sll=30.593087,114.305357&amp;sspn=0.637165,1.352692&amp;brcurrent=3,0x342ea8915476d8a1:0xa6da2c1d87d542ca,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E7%94%B5%E5%BD%B1%E9%99%A2&amp;hnear=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89&amp;split=1&amp;t=m&amp;ll=30.568765,114.300728&amp;spn=0.070946,0.109863&amp;z=13&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?source=embed&amp;hl=zh-cn&amp;geocode=&amp;q=%E7%94%B5%E5%BD%B1%E9%99%A2&amp;aq=&amp;sll=30.593087,114.305357&amp;sspn=0.637165,1.352692&amp;brcurrent=3,0x342ea8915476d8a1:0xa6da2c1d87d542ca,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E7%94%B5%E5%BD%B1%E9%99%A2&amp;hnear=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89&amp;split=1&amp;t=m&amp;ll=30.568765,114.300728&amp;spn=0.070946,0.109863&amp;z=13" style="color:#0000FF;text-align:left">查看大图</a></small>     
	  </div>
	</div>