/* CSS Document */

.con
{
width:980px;
height:700px;

}
.com
{
padding:10px;
width:250px;
height:680px;
float:left;
background-color:#CCCCCC;
border-radius:10px 10px 10px 10px;

}
.right
{
float:right;
width:700px;
height:680px;
}
.hot
{
width:700px;
height:320px;
font-size:24px;

}
.coming
{
width:700px;
height:320px;
border:1px solid black;

}




#wrap{
width:700px;
height:250px;
border:1px solid black;
position:relative;
left:0px;
top:0px;
background:#ffffff;
overflow:hidden;
}

#wrap ul{
margin:0px;
padding:0px;
position:absolute;
top:0px;
left:0px;
}
#wrap ul li{
list-style:none;
float:left;
margin:0px 2px;
}
#wrap ul li img{
width:175px;
height:250px;
cursor:pointer;
}

#movie-intro
{
    width:auto;
    height:250px;
    border:1px solid #000000;
    width:auto;
    padding:5px 10px 5px 10px;
}

.pic
{
    float:left;
    width:180px;
    height:240px;
    
    }
    
.pic img
{
    max-width:180px;
    width:180px;
    height:240px;
     
}

.movieinfo
{
    float:left;
    padding-left:30px;
}



.playlist
{
    float:left;
    width:auto;
}

.order
{
    float:right;
}

#play