@{
    ViewBag.Title = "影片搜索";
}

<link href="@Url.Content("~/Content/Search.css")" rel="stylesheet" type="text/css" />


<div id="list">


  <div class="aMovie">
    <div class="pic"><img src="http://pic3.bbzhi.com/mingxingbizhi/ruilimoteyangmixiezhen/star_starcn_166257_2.jpg" /></div>
    <div class="movieInfo">
        <span><h1><a href="@Url.Action("Detail", "Movie","1")">马达加斯加</a></h1></span>
        <span><h2>9分</h2></span>
        <span>上映日期：2012年7月7日</span>
        <hr/>
        <p>导演：xxx</p>
        <p>演员：xxx</p>
    </div>
  </div>


</div>