@{
    ViewBag.Title = "影片搜索";
    List<Model.Movie> sm = (List<Model.Movie>)ViewData["SearchMovies"];
}

<link href="@Url.Content("~/Content/Search.css")" rel="stylesheet" type="text/css" />


<div id="list">


  <div class="aMovie">
  @{
      foreach(Model.Movie m in sm)
      {
    <div class="pic"><img src="@m.CoverURL" alt="图片加载失败" /></div>
    <div class="movieInfo">
        <span><h1><a href="../Movie/detail?id=@m.MovieID">@m.MovieName</a></h1></span>
        <span>上映日期:&nbsp;@m.ReleaseDate</span>
        <hr/>
        <p>导演:&nbsp;@m.Director</p>
        <p>演员:&nbsp;@m.Protagonist</p>
        <p>时长:&nbsp;@m.RunTime</p>
    </div>
      }
      }
  </div>


</div>