@{
    ViewBag.Title = "电影院";
}

<link href="@Url.Content("~/Content/cinema.css")" rel="stylesheet" type="text/css" />


	<!--页面主体内容-->
	<div class="contain">
    <div class="left">
      <div id="accordion" class="accordion">
		<a href="#hs">洪山区</a>
        <div id="hs"><p> commodo consequat. </p> </div>
        <a href="#hp">黄陂区</a>
        <div id="hp"><p> commodo consequat. </p> </div>
        <a href="#qs">青山区</a>
        <div id="qs"><p> commodo consequat. </p> </div>
        <a href="#xz">新洲区</a>
        <div id="xz"><p> commodo consequat. </p> </div>
        <a href="#ja">江岸区</a>
        <div id="ja"><p> commodo consequat. </p> </div>
        <a href="#jh">江汉区</a>
        <div id="jh"><p> commodo consequat. </p> </div>
        <a href="#dxh">东西湖区</a>
        <div id="dxh"><p> commodo consequat. </p> </div>
        <a href="#cd">蔡甸区</a>
        <div id="cd"><p> commodo consequat. </p> </div>
		<a href="#qk">硚口区</a>
        <div id="qk"><p> commodo consequat. </p> </div>
        <a href="#wc">武昌区</a>
        <div id="wc"><p> commodo consequat. </p> </div>
        <a href="#hn">汉南区</a>
        <div id="hn"><p> commodo consequat. </p> </div>
        <a href="#jx">江夏区</a>
        <div id="jx"><p> commodo consequat. </p> </div>
        <a href="#hy">汉阳区</a>
        <div id="hy"><p> commodo consequat. </p> </div>
      </div>
	</div>
	  
	  <!--右侧地图部分-->
	  <div class="map"> 
	  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82%E6%B4%AA%E5%B1%B1%E5%8C%BA&amp;brcurrent=3,0x342ea48cc280ea29:0xf2a23fb182f35c6e,1%3B5,0,0&amp;brv=25.1-fa8ed276_c3147e72_ccf32e81_040c821b_76b35545&amp;sll=30.593087,114.305357&amp;sspn=0.637165,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82%E6%B4%AA%E5%B1%B1%E5%8C%BA&amp;t=m&amp;ll=30.500159,114.343643&amp;spn=0.283984,0.439453&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82%E6%B4%AA%E5%B1%B1%E5%8C%BA&amp;brcurrent=3,0x342ea48cc280ea29:0xf2a23fb182f35c6e,1%3B5,0,0&amp;brv=25.1-fa8ed276_c3147e72_ccf32e81_040c821b_76b35545&amp;sll=30.593087,114.305357&amp;sspn=0.637165,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=%E6%B9%96%E5%8C%97%E7%9C%81%E6%AD%A6%E6%B1%89%E5%B8%82%E6%B4%AA%E5%B1%B1%E5%8C%BA&amp;t=m&amp;ll=30.500159,114.343643&amp;spn=0.283984,0.439453&amp;z=11&amp;iwloc=A" style="color:#0000FF;text-align:left">查看大图</a></small>     
	  </div>
	</div>