@{
    ViewBag.Title = "电影院";
}

<link href="@Url.Content("~/Content/cinema.css")" rel="stylesheet" type="text/css" />

<h2>影院库</h2>


	<!--页面主体内容-->
	<div class="contain">
		<div class="left">
			<p>请选择所在区域  
			  <select name="">
			    <option>洪山区</option>
			    <option>黄陂区</option>
			    <option>青山区</option>
			    <option>新洲区</option>
			    <option>江岸区</option>
			    <option>江汉区</option>
			    <option>东西湖区</option>
			    <option>蔡甸区</option>
			    <option>硚口区</option>
			    <option>武昌区</option>
			    <option>汉南区</option>
			    <option>江夏区</option>
			    <option>汉阳区</option>
		      </select> 
			  <br/>
			</p>
			<p>
			  <input name="" type="button" value="按影院评分降序排列" />
		  </p>
			<p>
			<marquee direction="up">
			<dt><a href="intro1.html">天河国际影城（光谷店）</a></dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
			<dt>天河国际影城（光谷店）</dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
			<dt>天河国际影城（光谷店）</dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
			<dt>天河国际影城（光谷店）</dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
			<dt>天河国际影城（光谷店）</dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
			<dt>天河国际影城（光谷店）</dt>
			  	<dd>8.6分</dd> 
				<dd>地址：………………</dd>
		 </marquee>     
		</p>
	  </div>
	  
	  <!--右侧地图部分-->
	  <div class="map"> 
	  <iframe width="660" height="750" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%AD%A6%E6%B1%89+%E7%94%B5%E5%BD%B1%E9%99%A2&amp;aq=&amp;sll=30.605561,114.276009&amp;sspn=0.049126,0.090895&amp;brcurrent=3,0x342eaed8677ec61b:0xd27529c9577680a2,0,0x342ea8915476d8a1:0xa6da2c1d87d542ca%3B5,0,0&amp;ie=UTF8&amp;hq=%E6%AD%A6%E6%B1%89+%E7%94%B5%E5%BD%B1%E9%99%A2&amp;hnear=&amp;t=m&amp;ll=30.605561,114.276009&amp;spn=0.110811,0.114841&amp;z=13&amp;output=embed">
	  </iframe>
	  <br />
	  <small>
	  <a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E6%AD%A6%E6%B1%89+%E7%94%B5%E5%BD%B1%E9%99%A2&amp;aq=&amp;sll=30.605561,114.276009&amp;sspn=0.049126,0.090895&amp;brcurrent=3,0x342eaed8677ec61b:0xd27529c9577680a2,0,0x342ea8915476d8a1:0xa6da2c1d87d542ca%3B5,0,0&amp;ie=UTF8&amp;hq=%E6%AD%A6%E6%B1%89+%E7%94%B5%E5%BD%B1%E9%99%A2&amp;hnear=&amp;t=m&amp;ll=30.605561,114.276009&amp;spn=0.110811,0.114841&amp;z=13" style="color:#0000FF;text-align:left">查看大图</a>
	  </small>
	        
	  </div>
	</div>